In [1]:
from __future__ import print_function
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
import tensorflow as tf
learn = tf.contrib.learn

In [2]:
def load_clean_data(csv_file):
    df = pd.read_csv(csv_file, header = 0)
    # One hot encoding for "Sex"
    df['Gender'] = df['Sex'].map({'female':0, 'male':1}).astype(int)
    # Get median ages per "Gender" and "Pclass"
    median_ages = np.zeros((2,3))
    for i in range(0, 2):
        for j in range(0, 3):
            median_ages[i,j] = df[(df['Gender'] == i) &
                                  (df['Pclass'] == j+1)]['Age'].dropna().median()
    # Fill in median age for missing "Age"
    for i in range(0, 2):
        for j in range(0, 3):
            df.loc[ (df.Age.isnull()) & (df.Gender == i) & 
                   (df.Pclass == j+1),'Age'] = median_ages[i,j]
    # Normalize "Age"
    df['Age'] = (df['Age'] - 40)/80
    # Normalize "Fare"
    df['Fare'] = df['Fare'].fillna(df['Fare'].median())
    df.loc[df['Fare'] > 100,'Fare'] = 100
    df['Fare'] = (df['Fare'] - 50)/100
    df['Embarked'] = df['Embarked'].fillna('S')
    df = df.drop(['SibSp','Parch','Name','Sex','Ticket','Cabin','Embarked'],axis=1)
    # One hot encoding for "Pclass"
    df = df.join(pd.get_dummies(df['Pclass'], prefix ='Class').astype(int))
    df = df.drop(['Pclass'], axis = 1)
    return df
train_df = load_clean_data('data/train.csv')
test_df = load_clean_data('data/test.csv')
train_df.describe()

,PassengerId,Survived,Age,Fare,Gender,Class_1,Class_2,Class_3
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,-0.136095,-0.229728,0.647587,0.242424,0.206510,0.551066
std,257.353842,0.486592,0.166305,0.272966,0.477990,0.428790,0.405028,0.497665
min,1.000000,0.000000,-0.494750,-0.500000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,-0.231250,-0.420896,0.000000,0.000000,0.000000,0.000000
50%,446.000000,0.000000,-0.175000,-0.355458,1.000000,0.000000,0.000000,1.000000
75%,668.500000,1.000000,-0.050000,-0.190000,1.000000,0.000000,0.000000,1.000000
max,891.000000,1.000000,0.500000,0.500000,1.000000,1.000000,1.000000,1.000000

In [18]:
x_data = train_df.drop(['PassengerId', "Survived"], axis = 1)
y_data = train_df['Survived'].values
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size = 0.2)

         Age      Fare  Gender  Class_1  Class_2  Class_3
0   -0.22500 -0.427500       1        0        0        1
1   -0.02500  0.212833       0        1        0        0
2   -0.17500 -0.420750       0        0        0        1
3   -0.06250  0.031000       0        1        0        0
4   -0.06250 -0.419500       1        0        0        1
5   -0.18750 -0.415417       1        0        0        1
6    0.17500  0.018625       1        1        0        0
7   -0.47500 -0.289250       1        0        0        1
8   -0.16250 -0.388667       0        0        0        1
9   -0.32500 -0.199292       0        0        1        0
10  -0.45000 -0.333000       0        0        0        1
11   0.22500 -0.234500       0        1        0        0
12  -0.25000 -0.419500       1        0        0        1
13  -0.01250 -0.187250       1        0        0        1
14  -0.32500 -0.421458       0        0        0        1
15   0.18750 -0.340000       0        0        1        0
16  -0.47500 -0.208750       1        0        0        1
17  -0.12500 -0.370000       1        0        1        0
18  -0.11250 -0.320000       0        0        0        1
19  -0.23125 -0.427750       0        0        0        1
20  -0.06250 -0.240000       1        0        1        0
21  -0.07500 -0.370000       1        0        1        0
22  -0.31250 -0.419708       0        0        0        1
23  -0.15000 -0.145000       1        1        0        0
24  -0.40000 -0.289250       0        0        0        1
25  -0.02500 -0.186125       0        0        0        1
26  -0.18750 -0.427750       1        0        0        1
27  -0.26250  0.500000       1        1        0        0
28  -0.23125 -0.421208       0        0        0        1
29  -0.18750 -0.421042       1        0        0        1
..       ...       ...     ...      ...      ...      ...
861 -0.23750 -0.385000       1        0        1        0
862  0.10000 -0.240708       0        1        0        0
863 -0.23125  0.195500       0        0        0        1
864 -0.20000 -0.370000       1        0        1        0
865  0.02500 -0.370000       0        0        1        0
866 -0.16250 -0.361417       0        0        1        0
867 -0.11250  0.004958       1        1        0        0
868 -0.18750 -0.405000       1        0        0        1
869 -0.45000 -0.388667       1        0        0        1
870 -0.17500 -0.421042       1        0        0        1
871  0.08750  0.025542       0        1        0        0
872 -0.08750 -0.450000       1        1        0        0
873  0.08750 -0.410000       1        0        0        1
874 -0.15000 -0.260000       0        0        1        0
875 -0.31250 -0.427750       0        0        0        1
876 -0.25000 -0.401542       1        0        0        1
877 -0.26250 -0.421042       1        0        0        1
878 -0.18750 -0.421042       1        0        0        1
879  0.20000  0.331583       0        1        0        0
880 -0.18750 -0.240000       0        0        1        0
881 -0.08750 -0.421042       1        0        0        1
882 -0.22500 -0.394833       0        0        0        1
883 -0.15000 -0.395000       1        0        1        0
884 -0.18750 -0.429500       1        0        0        1
885 -0.01250 -0.208750       0        0        0        1
886 -0.16250 -0.370000       1        0        1        0
887 -0.26250 -0.200000       0        1        0        0
888 -0.23125 -0.265500       0        0        0        1
889 -0.17500 -0.200000       1        1        0        0
890 -0.10000 -0.422500       1        0        0        1

[891 rows x 6 columns]

In [29]:
classifier = learn.DNNClassifier(hidden_units = [16, 32, 64, 32, 16],
                                 n_classes = 2)
classifier.fit(x = x_train, y = y_train, steps = 1000)

WARNING:tensorflow:Change warning: `feature_columns` will be required after 2016-08-01.
Instructions for updating:
Pass `tf.contrib.learn.infer_real_valued_columns_from_input(x)` or `tf.contrib.learn.infer_real_valued_columns_from_input_fn(input_fn)` as `feature_columns`, where `x` or `input_fn` is your argument to `fit`, `evaluate`, or `predict`.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/44/l0283vjx2wb4bv3k69nnqwh80000gn/T/tmpILkHj5
WARNING:tensorflow:Using default config.
WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
WARNING:tensorflow:Setting feature info to TensorSignature(dtype=tf.float64, shape=TensorShape([Dimension(None), Dimension(6)]), is_sparse=False)
WARNING:tensorflow:Setting targets info to TensorSignature(dtype=tf.int64, shape=TensorShape([Dimension(None)]), is_sparse=False)

DNNClassifier(hidden_units=[16, 32, 64, 32, 16], dropout=None, optimizer=None, feature_columns=None)

In [30]:
print("Score on training dataset:", classifier.evaluate(x = x_train, y = y_train)["accuracy"])
print("Score on validation dataset:", classifier.evaluate(x = x_test, y = y_test)["accuracy"])

WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
WARNING:tensorflow:Given features: Tensor("input:0", shape=(?, 6), dtype=float64), required signatures: TensorSignature(dtype=tf.float64, shape=TensorShape([Dimension(None), Dimension(6)]), is_sparse=False).
WARNING:tensorflow:Given targets: Tensor("output:0", shape=(?,), dtype=int64), required signatures: TensorSignature(dtype=tf.int64, shape=TensorShape([Dimension(None)]), is_sparse=False).
WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
WARNING:tensorflow:Given features: Tensor("input:0", shape=(?, 6), dtype=float64), required signatures: TensorSignature(dtype=tf.float64, shape=TensorShape([Dimension(None), Dimension(6)]), is_sparse=False).
WARNING:tensorflow:Given targets: Tensor("output:0", shape=(?,), dtype=int64), required signatures: TensorSignature(dtype=tf.int64, shape=TensorShape([Dimension(None)]), is_sparse=False).

Score on training dataset: 0.837079
Score on validation dataset: 0.804469

In [31]:
test_data = test_df.drop(['PassengerId'], axis = 1)
y_pred = classifier.predict(test_data)
submission = pd.DataFrame({ "PassengerId":test_df['PassengerId'],
                             "Survived":y_pred })
submission.to_csv('tf_learn.csv',index=False)

WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.