In [16]:
from __future__ import print_function
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [17]:
def load_clean_data(csv_file):
    df = pd.read_csv(csv_file, header = 0)
    # Normalize "Age"
    df['Age'] = df['Age'].fillna(df.Age.median())
    df['Age'] = (df['Age'] - 40)/80
    # One hot encoding for "Sex"
    df['Gender'] = df['Sex'].map({'female':0, 'male':1}).astype(int)
    # Normalize "Fare"
    df['Fare'] = df['Fare'].fillna(df['Fare'].median())
    df.loc[df['Fare'] > 100,'Fare'] = 100
    df['Fare'] = (df['Fare'] - 50)/100
    df['Embarked'] = df['Embarked'].fillna('S')
    df = df.drop(['SibSp','Parch','Name','Sex','Ticket','Cabin','Embarked'],axis=1)
    # One hot encoding for "Pclass"
    df = df.join(pd.get_dummies(df['Pclass'], prefix ='Class').astype(int))
    df = df.drop(['Pclass'], axis = 1)
    return df
train_df = load_clean_data('train.csv')
test_df = load_clean_data('test.csv')
train_df.describe()

,PassengerId,Survived,Age,Fare,Gender,Class_1,Class_2,Class_3
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,-0.132980,-0.229728,0.647587,0.242424,0.206510,0.551066
std,257.353842,0.486592,0.162746,0.272966,0.477990,0.428790,0.405028,0.497665
min,1.000000,0.000000,-0.494750,-0.500000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,-0.225000,-0.420896,0.000000,0.000000,0.000000,0.000000
50%,446.000000,0.000000,-0.150000,-0.355458,1.000000,0.000000,0.000000,1.000000
75%,668.500000,1.000000,-0.062500,-0.190000,1.000000,0.000000,0.000000,1.000000
max,891.000000,1.000000,0.500000,0.500000,1.000000,1.000000,1.000000,1.000000

In [18]:
x_data = train_df.drop(['PassengerId', "Survived"], axis = 1)
y_data = train_df['Survived']
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size = 0.2)

In [19]:
random_forest = RandomForestClassifier(n_estimators=1000)
random_forest.fit(x_train, y_train)
random_forest.score(x_test, y_test)

0.82122905027932958

In [20]:
test_data = test_df.drop(['PassengerId'], axis = 1)
y_pred = random_forest.predict(test_data)
submission = pd.DataFrame({ "PassengerId":test_df['PassengerId'],
                             "Survived":y_pred })
submission.to_csv('titanic.csv',index=False)